[submodule ".\\external\\cnpy"]
	path = .\\external\\cnpy
	url = https://github.com/rogersce/cnpy
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external\\imgui"]
	path = external\\imgui
	url = https://github.com/ocornut/imgui
[submodule "external\\yaml-cpp"]
	path = external\\yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "external\\libtinyfiledialogs"]
	path = external\\libtinyfiledialogs
	url = https://github.com/gustavo4passos/libtinyfiledialogs
